
@{
    ViewBag.Title = "Modulo CRUDs";
}

<html>
<head>
    <title>Modulo CRUDs</title>
</head>
<body>
    <div></div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("CRUD Médicos", "Index", "Medicos")</li>
            <li class="list-group-item">@Html.ActionLink("CRUD Pacientes", "Index", "Pacientes")</li>
            <li class="list-group-item">@Html.ActionLink("CRUD Habitaciones", "Index", "Habitaciones")</li>
        </ul>
    </div>
    <div></div>
</body>
</html>


