
@{
    ViewBag.Title = "Modulo Procesos";
}

<html>
<head>
    <title>Modulo Procesos</title>
    <style>
        .panel {
            margin-top: 35px;
        }
    </style>
</head>
<body>
    <div></div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Módulo Procesos</h4>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">@Html.ActionLink("Proceso Citas", "VistaCitas", "ModuloProcesos")</li>
                    <li class="list-group-item">@Html.ActionLink("Proceso Ingresos", "VistaIngresos", "ModuloProcesos")</li>
                    <li class="list-group-item">@Html.ActionLink("Proceso Altas", "VistaAltas", "ModuloProcesos")</li>
                </ul>
            </div>
        </div>
    </div>
    <div></div>
</body>
</html>
